body {
	background-image: url("assets/WoodPlanksBackground.jpg");
	background-size: cover;
}

main {
	margin-top: 100px;
}

/* Adds left and right margins and background color to containers within the Main element */
main.container-fluid {
	margin-left: 20px;
	margin-right: 20px;
	/* background-color: white; */
}

/* #aboutContent {
	background-color: rgba(185, 154, 113, 0.925);
}

#contactForm {
	background-color: rgba(185, 154, 113, 0.925);
}

footer {
	background-color: #af926c;
	height: 40px;
} */

/* Adds background color to content on about page. */
#aboutContent {
	background-color: rgb(228, 226, 226);
}

/* Adds background color to contact form.  */
#contactForm {
	background-color: rgb(228, 226, 226);
}

footer {
	background-color: rgb(228, 226, 226);
	height: 40px;
}
