body {
	background-image: url("assets/WoodPlanksBackground.jpg");
	background-size: cover;
}

/* Adds left and right margins to containers */
.container-fluid {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 60px;
	background-color: white;
}

footer {
	background-color: lightgray;
	height: 40px;
}
