body {
	background-image: url("assets/WoodPlanksBackground.jpg");
	background-size: cover;
}

main {
	margin-top: 100px;
}

/* Adds left and right margins and background color to containers within the Main element */
main.container-fluid {
	margin-left: 20px;
	margin-right: 20px;
	/* background-color: white; */
}

/* nav {
	font-weight: bold;
} */

/* Adds background color to content on about page. */
#aboutContent {
	background-color: rgb(228, 226, 226);
}

/* Adds background color to contact form.  */
#contactForm {
	background-color: rgb(228, 226, 226);
}

#portfolioBoxes {
	background-color: rgb(228, 226, 226);
}

/* Provides the padding around the placeholder images on the portfolio page */
#placeholderImage1,
#placeholderImage2,
#placeholderImage3,
#placeholderImage4,
#placeholderImage5 {
	padding: 10px;
}

#placeholderImage5 {
	margin-bottom: 10px;
}

footer {
	background-color: rgb(228, 226, 226);
	height: 40px;
}

footer p {
	text-align: center;
	font-weight: bold;
	font-size: large;
}
